@import url("https://fonts.googleapis.com/css2?family=Raleway");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  .sidebar {
    grid-column: 1;
    background: #1e213a;
    position: relative;
    .bg {
      position: absolute;
      opacity: 0.1;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: url("./Assets/Cloud-background.png");
      background-repeat: no-repeat;
      background-size: 450px auto;
      background-position: 70% 40%;
    }
    .searchHeader {
      display: flex;
      margin-top: 10%;
      margin-left: 5%;
      justify-content: space-between;
      align-items: center;
      .searchAction {
        color: white;
      }
    }
    .imgContainer {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 500px;
      img {
        height: 200px;
        width: 200px;
      }
      p:nth-child(2) {
        font-size: 48px;
      }
      p:nth-child(3) {
        font-size: larger;
        color: #a09fb1;
        font-weight: 600;
      }
    }
  }
  .main {
    grid-column: 2;
    background: #100e1d;
    color: #e7e7eb;
    display: flex;
    flex-direction: column;
    .days {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(5, 16%);
      grid-gap: 2%;
      align-items: center;
      justify-content: center;
    }
    .days div {
      height: 150px;
      background: #1e213a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        flex-basis: 15%;
        font-size: 16px;
        font-weight: 500;
      }
      img {
        width: 56px;
        height: 62px;
      }
      p:last-of-type {
        display: flex;
        justify-content: space-between;
        width: 70%;
      }
    }
    .highlight_heading {
      height: 100px;
      display: flex;
      align-items: center;
      margin: 5%;
      font-weight: 700;
      font-size: 24px;
    }
    .highlights {
      display: grid;
      grid-template-rows: repeat(2, 40%);
      grid-template-columns: repeat(2, 47%);
      margin-left: 6%;
      row-gap: 5%;
      column-gap: 3%;
      height: 100%;

      & > div {
        background: #1e213a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p:nth-child(1) {
          font-weight: 500;
          font-size: 16px;
        }
        div:nth-child(2) {
          span:nth-child(1) {
            font-weight: 700;
            font-size: 50px;
          }
          span:nth-child(2) {
            font-weight: 500;
            font-size: 30px;
          }
        }
      }
      .wind {
        grid-row: 1;
        grid-column: 1;
      }
      .humidity {
        grid-row: 1;
        grid-column: 2;
      }
      .visibility {
        grid-row: 2;
        grid-column: 1;
      }
      .airPressure {
        grid-row: 2;
        grid-column: 2;
      }
    }
    .footer {
      position: fixed;
      bottom: 0;
      left: 50%;
      text-align: center;
    }
  }
}
